   body{
    background-color: rgb(245, 166, 196);
    color: black;
    }
    h1{
      color:  black;
      font-family: "Geist Pixel"
    }
    p{
        color: black;
        font-family:
        
    }
    h2{
      color: black;
    }